<%- include("head") %>
<%- include("navbar") %>

<% for (let i = 0; i < 10; i++) { %>
<li><%= i %></li>
<% } %> <% for (let i = 0; i < 10; i++) { %> <% if (i % 2 === 0) { txt = "even"
%> <% } else { txt = "odd" } %>
<li><%= i %> - <%= txt %></li>
<% } %>

<h1><%= locals.validated %></h1>
<h1><%= locals.name %></h1>
<h1><%= locals.nickname %></h1>

<div>
  <p><%= locals.message %></p>
  <p><%= locals.name %></p>
  <p><%- locals.html %></p>
</div>
